@page "/ver/{id:int}"
@using Microsoft.AspNetCore.Identity
@using PetFinder.Areas.Identity;

@inject IPetService PetService
@inject IApplicationUserService userService;


<section class="container" id="pet-page" data-id="{$pet->id}">
    <a href="javascript:history.back()" class="btn bg-orange text-white my-2 w-100">Volver</a>
    @if (pet == null)
    {
        <h3>Loading...</h3>
    }
    else
    {
        <!-- Foto -->
        <div class="row">
            <div class="col-12 col-md-8">
                <img src="/images/@pet.Photo" alt="@pet.Name's image" class="img-thumbnail mx-auto w-100">
            </div>
            <div class="col-12 col-md-4">
                <!-- Nombre -->
                <div class="row">
                    <h1 class="mt-3 mx-4 petTitle">@pet.Name</h1>
                </div>
                <!-- Descripcion -->
                <div class="row">
                    <p class="mx-4">@pet.Description</p>
                </div>
                <!-- Detalles -->
                <div class="row">
                    <h3 class="mt-3 mx-4 petSubTitle">Detalles</h3>
                </div>
                <div class="row">
                    <p class="mx-4">Tipo de animal: @pet.AnimalType.Name</p>
                </div>
                <div class="row">
                    <p class="mx-4">Ciudad: @pet.City.Name</p>
                </div>
                <div class="row">
                    <p class="mx-4">Género: @pet.Gender.Name</p>
                </div>
                <div class="row">
                    <p class="mx-4">Fecha de extravío: @pet.Date</p>
                </div>
                <!-- Contacto -->
                <div class="row">
                    <h3 class="mt-3 mx-4 petSubTitle">Contacto</h3>
                </div>
                <div class="row">
                    <p class="mx-4">Dueño: @user.Name</p>
                </div>
                <div class="row">
                    <p class="mx-4">Email: @user.Email</p>
                </div>
                <div class="row">
                    <p class="mx-4">Teléfono: @pet.PhoneNumber</p>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <h3 class="petSubTitle mt-3 mx-4">Comentarios</h3>
        <div class="mb-2 col-12">
            <p>Aquí van los comentarios</p>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public int id { get; set; }

    private Pet pet = null;
    private ApplicationUser user = null;

    protected override async Task OnInitializedAsync()
    {
        pet = await PetService.Get(id);
        user = await userService.getById(pet.UserId);
    }
}
